# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Build outputs
build/
bazel-*
override.bazelrc

# IDEs
.idea/

# Apple system file metadata
*.DS_Store

# Ignore proto files
*.pb.go
*.pb.validate.go
